.btn {
  padding: 19px 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  background-color: var(--green);
  transition-property: background-color, transform;
  transition-duration: .3s;
  transition-timing-function: ease;

  &:active {
    background-color: var(--green-hover);
    transform: translateY(-1px);
  }
}

@media(min-width: 768px) {
  .btn {
  
    &:hover {
      background-color: var(--green-hover);
    }
  }
}