:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --page-padding: 15px;
  --border-color: #E4E4E4;
  --font-mono: 'SF UI Display', Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --statistic-gap: 32px;

  --foreground-rgb: #333333;
  --background-end-rgb: #fff;

  --box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.07);


  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;

  --tomato: #DC3E22;
  --tomato-hover: #B7280F;
  --pink: #EA8A79;
  --pink-hover: #d05d48;
  --green: #A8B64F;
  --green-hover: #899441;
  --gray: #C4C4C4;
  --always-black: #333333;
  --input-bgc: #F4F4F4;
  --placeholder: #999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-end-rgb: #333333;
    --box-shadow: 0px 0 63px rgba(255, 255, 255, 0.1);

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 50px 0 200px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--page-padding);
  max-width: 1310px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.timer-page {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 25px;

  form {
    max-width: 370px;
  }

  .list-column {
    max-width: 370px;
  }
}

.statistic {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--statistic-gap);
  .peach-card {
    background-color: #FFDDA9;
  }
  .blue-card {
    background-color: #DFDCFE;
  }
  .green-card {
    background-color: #C5F1FF;
  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 640px) {
  main {
    padding: 100px 0 300px;
  }
  .statistic {
    grid-template-columns: repeat(2, 1fr);
    .cell-chart {
      grid-column: 1 / 3;
    }
    .cell-todays {
      grid-row: 3 / 6;
    }
    .cell-title {
      align-self: center;
    }
    .cell-drop {
      justify-self: end;
    }
  }
}

@media(min-width: 1000px) {
  .statistic {
    grid-template-columns: repeat(12, 1fr);
    .cell-title {
      grid-column: 1 / 4;
      line-height: 56px;
    }
    .cell-drop {
      grid-column: 4 / -1;
    }
    .cell-chart {
      grid-row: 2 / 4;
      grid-column: 4 / -1;
    }
    .cell-todays{
      grid-column: 1 / 4;
      grid-row: 2 / 4;
    }
    .cell-card {
      grid-column: span 4;
    }
  }
}

@media (min-width: 1210px) {
  .timer-page {
    grid-template-columns: 520px 1fr;
    .time-column {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
    }
  }
}


// .light {
//   color-scheme: light !important;
// }

// .dark {
//   color-scheme: dark !important;
// }