.tasksBlock {
  max-width: 710px;
  .staticList {
    li {
      display: flex;
      list-style-type: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 33px;

      &:before {
        content: '\2022'; 
        margin-right: 15px;
        display: inline-block;
        height: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        color: var(--tomato-hover);
      }
    }
  }
}


.title {
  margin-bottom: 3px;
}
