.chartBlock {
  display: grid;
  gap: var(--statistic-gap);
  grid-template-rows: auto 1fr;
}


@media(min-width: 640px) {
  .gridEnd {
    justify-self: self-start;
  }
}

@media(min-width: 1000px) {
  .gridEnd {
    justify-self: self-end;
  }
}