.chart {
  min-height: 471px;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: var(--input-bgc);
  div {
    min-width: 700px !important;
  }
}

@media(min-width: 1000px) {
  .chart {
    overflow: hidden;
  }
}