.scheme-icon__rect {
  transition-property: y, height;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.scheme-icon:hover .scheme-icon__rect_first {
  y: 10%;
  height: 90%;
}

.scheme-icon:hover .scheme-icon__rect_second {
  y: 55%;
  height: 45%;
}

.scheme-icon:hover .scheme-icon__rect_third {
  y: 30%;
  height: 70%;
}